<div class="container-fluid">
    <div class="row my-4">
        <div class="col-lg-9 mx-auto text-center">
            <!-- Centro el título "Notas" -->
            <h4>NOTAS</h4>
        </div>
        <div class="col-lg-3">
            <!-- Agrego una columna de ancho 3 y centro el contenido -->
            <button class="btn btn-primary">AGREGAR</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 mx-auto my-8">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">TITULO</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">FECHA DE CREACION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>